.pagination {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.pagination button {
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button > svg {
  width: 24px;
  height: 24px;
  border-radius: 15px;
}

.pagination span {
  width: 37px;
  height: 37px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 27px;
  text-align: left;
  color: black;
}

/* Responsive Breakpoints */

/* 1 - Mobiles */
@media not all and (min-width: 640px) {
  .pagination {
    bottom: -50px;
  }
}
