.removeTransaction {
    background-color: red;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: white;
}

.editTransaction {
    background-color: orange;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: white;
}